<section class="box mt-3">
  <app-todo-form/>
  <ng-container *ngFor="let todo of stateService.todos(); trackBy: trackByFn">
    <div class="field has-addons mt-3" data-cy="task-field">
      <div class="control mr-1">
        <input type="checkbox" class="checkbox" [checked]="todo.isComplete" (change)="stateService.toggleIsComplete(todo.id)"
          data-cy="checkbox" />
      </div>
      <div class="control w-100">
        <input type="text" class="line" #input [class.isComplete]="todo.isComplete" [readonly]="todo.isComplete"
          [value]="todo.title" (blur)="editTodo(todo, input.value)" data-cy="task-value">
      </div>
      <div class="control ml-1">
        <button (click)="stateService.deleteTodo(todo.id)" data-cy="delete">X</button>
      </div>
    </div>
  </ng-container>
  <small>
    Tasks Completed: {{ stateService.completedTodos() }}
  </small>
</section>