<section class="box mt-3">
  <app-todo-form/>
  <ng-container *ngIf="todos(); else noItems">
    <div *ngFor="let todo of todos(); trackBy: trackByFn" class="field has-addons mt-3" data-cy="task-field">
      <div class="control mr-1">
        <input type="checkbox" class="checkbox" [checked]="todo.isComplete" (change)="toggleCompleted(todo.id)"
          data-cy="checkbox" />
      </div>
      <div class="control w-100">
        <input type="text" class="line" #input [class.isComplete]="todo.isComplete" [readonly]="todo.isComplete"
          [value]="todo.title" (blur)="edit(todo, input.value)" data-cy="task-value">
      </div>
      <div class="control ml-1">
        <button (click)="delete(todo.id)" data-cy="delete">X</button>
      </div>
    </div>
    <small>
      Tasks Completed: {{ completedTodos() }}
    </small>
  </ng-container>
  <ng-template #noItems>
    <p class="has-text-centered py-3">No tasks yet!</p>
  </ng-template>
</section>