h1 {
  font-size: large;
  font-weight: bold;
}

.isComplete {
  text-decoration: line-through;
  color: #ccc;
}

.checkbox {
  vertical-align: middle;
}

.box {
  background: lightyellow;
}

.field {
  position: relative;
}

.index {
  position: absolute;
  left: -14px;
  display: none;
}