<div class="is-flex space-between">
  <h1>Task List</h1>
  <button (click)="showTaskForm = true">Create task</button>
</div>

<section class="box mt-3">  
  <app-task-form *ngIf="showTaskForm" (taskCreated)="addTask($event)"></app-task-form>
  <ng-container *ngFor="let task of tasks; index as i; trackBy: trackByFn">
    <div class="field has-addons">
      <div class="index">{{ i + 1 }}</div>
      <div class="control mr-1">
        <input type="checkbox" class="checkbox" [checked]="task.completed" (change)="toggleCompleted(task.id)" />
      </div>
      <div class="control w-100">
        <input type="text" class="line" #input [class.completed]="task.completed" [value]="task.title" 
        (input)="editTask(i, input.value)">
      </div>
      <div class="control ml-1">
        <button (click)="deleteTask(task.id)">X</button>
      </div>
    </div>
  </ng-container>
  <small>Tasks completed: {{ completedTasks }}</small>
</section>
