<section class="box mt-3">  
  <app-task-form></app-task-form>
  <ng-container *ngFor="let task of tasks$ | async; trackBy: trackByFn">
    <div class="field has-addons mt-3" data-cy="task-field">
      <div class="control mr-1">
        <input type="checkbox" class="checkbox" [checked]="task.isComplete" 
          (change)="toggleIsComplete(task.id)" data-cy="checkbox" />
      </div>
      <div class="control w-100">
        <input type="text" class="line" #input 
          [class.isComplete]="task.isComplete" 
          [readonly]="task.isComplete"
          [value]="task.title"          
          (blur)="editTask(task, input.value)" 
          data-cy="task-value">
      </div>
      <div class="control ml-1">
        <button (click)="deleteTask(task.id)" data-cy="delete">X</button>
      </div>
    </div>
  </ng-container>
  <small *ngIf="(tasks$ | async)?.length">
    Tasks isComplete: {{ (completedTasks$ | async) ?? 0 }}
  </small>
</section>
