@import "bulma/bulma", url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

.box * {
  font-family: 'Kalam', cursive;
}

.line {
  width: 100%;
  border-width: 0 0 1px 0;
  border-color: #000;
  background-color: transparent;

  &:focus, &:active, &:focus-visible {
    outline: 0;
  }
}

.w-100 {
  width: 100%;
}

.space-between {
  justify-content: space-between;
}